@media only screen and (max-width: 600px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }

  .main {
    left: 0%;
    right: 0%;
    max-width: 100%;
    background-image: url(./css/wedsite.jpg);
  }
  .idea {
    display: none;
  }
  .title {
    position: absolute;
    font-size: 10px;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
  }
  .title h2 {
    color: darkred;
    font-size: 40px;
  }

  header ul {
    display: none;
  }
  #navbar {
    display: none;
  }
  .logo1 {
    top: 2%;
    left: 2%;
  }
  .button {
    position: absolute;
    top: 40%;
    left: 56%;
    transform: translate(-50%, -50%);
  }
  .btn {
    border: 2px solid white;
    margin-top: 40px;
    padding: 10px 30px;
    color: white;
    background-color: darkgray;
    text-decoration: none;
    border-radius: 5px;
  }
  .about h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .about h4 {
    font-size: 18px;
  }

  .sect {
    height: 150vh;
    width: 100%;
  }
  .sect h1 {
    padding: 52px;
    font-size: 46px;
  }

  .about {
    right: 0%;
    left: 0%;
    top: 120%;
    padding: 20px;
    width: 100%;
    border: black solid 2px;
    font-size: 15px;
    border-radius: 20px;
    height: 53vh;
  }
  .about h1 {
    padding: 0px;
    margin: 0px;
  }

  .abouts h2 {
    text-align: center;
    font-size: 30px;
    padding-bottom: 20px;
    color: darkblue 2px;
  }
  .ideas {
    margin: 0px;
    float: none;
    max-height: 100%;
    max-width: 100%;
    left: 8.5%;
    z-index: 2;
  }
  .abouts {
    left: 0;
    top: 200%;
    border-radius: 20px;
    font-size: 15px;
    height: 75vh;
    max-width: 100%;
    padding: 30px;
    border: red solid 2px;
  }
  .video {
    padding-top: 30px;
    max-width: 350px;
    max-height: 300px;
    z-index: 2;
  }
  .reward {
    height: 60vh;
    position: relative;
  }
  .rewards {
    display: none;
  }
  .rewars {
    background-image: url(./css/post2.jpg);
    height: 55vh;
    width: 250px;
    position: absolute;
    float: left;
    left: 20%;
    top: 353%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2;
    border-radius: 10px;
  }
  .rewardss {
    position: absolute;
    height: 56vh;
    right: 0%;
    max-width: 100%;
    border: darkblue solid 2px;
    border-radius: 20px;
  }

  .rewardss h2 {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 36px;
    margin-top: 45px;
    color: darkmagenta;
    text-align: center;
  }
  .rewardss li {
    padding-bottom: 3px;
  }
  .contact {
    height: 180vh;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 0;
  }
  .abbai {
    right: 24%;
    top: 550%;
    margin-top: 0px;
    padding: 0px;
    position: absolute;
  }
  .babai {
    position: absolute;
    left: 2%;
    padding-top: 30px;
  }
  .run h2 {
    font-size: 30px;
    margin-top: 30px;
    text-align: center;
  }
  .run ul {
    display: inline-block;
    font-size: larger;
    right: 10%;
  }

  .run li {
    display: block;
    padding: 8px;
  }
  .navbars {
    overflow: hidden;
    visibility: visible;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
  }

  .navbars a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 10px;
  }

  .navbars a:hover {
    background: #ddd;
    color: black;
  }
  .mq {
    width: 100%;
    visibility: visible;
  }
}
